.About
{
    display: flex;
    margin: 100px auto;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.About-left
{
    flex-basis: 40%;
    position: relative;
}
.About-right
{
    flex-basis: 56%;
}
.about-image
{
   width: 100%;
}
.play-image
{
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.About-right h3
{
    font-size: 16px;
    font-weight: 600;
    color: #212EA0;
}
.About-right h2
{
    font-size: 35px;
    color: #000348;
    margin: 10px 0;
    max-width: 400px;
}
.About-right h2
{
    color: #676767;
    margin-bottom: 15px;
}
/* Media Query */
@media (max-width: 800px)
{
   .About
   {
    flex-direction: column;
   }
   .About-left
   {
    flex-basis: 100%;
    order: 2;
   }
   .About-right
   {
    flex-basis: 100%;
   }
}